$color-hex-1: #1B1C1C;
$color-hex-2: #F1F1F1;
$color-hex-3: #B9B7B7;
$color-hex-4: #C26B57;
$color-hex-5: #5402C8;
$color-hex-6: #FFBC37;
$color-hex-7: #FFDE1F;
$color-hex-8: #010101;
// $color-hex-1: #1A1A1A;